/* external */

h1 {
    color: black;
}

h2 {
    color: blueviolet;
    font-size: 30px;
}
/* ids */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 10px;
}

#exclusive-title {
    background-color: blueviolet;
    color: wheat;
    padding: 10px;
    border-radius: 70px;
}

.color-name {
    background-color: darkslateblue;
    color: aquamarine;
    border-radius: 5px;
}

.container {
    display: flex;
    gap: 1px;
    border: 4px solid black;
}

.box {
    background-color: lightcoral;
    padding: 15px;
    text-align: center;
    flex: 1;
    border-radius: 30px;
}

.hsl-2{
    color: hsl(100, 30%, 60%);
    background-color: aliceblue;
    font-size: 70px;
}